{% extends 'base.html' %}
{% block contenido %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Esquema Libros</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            <a class="nav-link active" aria-current="page" href="/libros">Libros</a>
            <a class="nav-link active" aria-current="page" href="/usuarios">Usuarios</a>
            </div>
        </div>
        <div class="d-flex">

        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1>Agregar Libro</h1>

    <div class="row mt-3" id='formulario'>
        <div class="col-sm-12 col-md-6">
            <form action="/libro/agregar/procesar" method="post">
                <div class="col-mb-4 row">
                    <label for="nombre" class="col-sm-2 col-form-label">Titulo:</label>
                    <div class="col-sm-10">
                        <input type="text" required class="form-control" id="titulo" name="titulo" placeholder="ej: La increible historia de Pepita" >
                    </div>
                </div>
                <div class="col-mb-4 row">
                    <label for="nombre" class="col-sm-2 col-form-label">Pags:</label>
                    <div class="col-sm-10">
                        <input type="text" required class="form-control" id="paginas" name="pag_num" placeholder="ej: 321" >
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


</div>

{% endblock %}