{% extends "base.html" %}
{% block contenido %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Esquema Libros</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            <a class="nav-link active" aria-current="page" href="/libros">Libros</a>
            <a class="nav-link active" aria-current="page" href="/usuarios">Usuarios</a>
            </div>
        </div>
        <div class="d-flex">

        </div>
    </div>
</nav>

<div class="container mt-5">
    <h1>Info Book {{ libro.id }}</h1>
</div>

<div class="container mt-5">

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>id</th>
                <th>Titulo</th>
                <th>Numero Paginas</th>
                <th>created_at</th>
                <th>updated_at</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.titulo }}</td>
                <td>{{ libro.pag_num }}</td>
                <td>{{ libro.created_at }}</td>
                <td>{{ libro.updated_at }}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Usuarios que lo prefieren</th>
            </tr>
        </thead>
        <tbody>
            
            {% for fav_user in fav_users: %}
            <tr>
                <td>{{ fav_user.first_name }} {{ fav_user.last_name }}</td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <div class="agregar_fan_form">
        <form action="/agregar/fan" method="post" class="col-6">
            <h2 class="text-info">Agregar Libro a Favoritos de User:</h2>
            <input type="hidden" name="libro_id" value="{{libro.id}}">
            <div class="form-group">
                <label for="usuario_id">Usuario</label>
                <select name="usuario_id" class="form-control" >
                    {% for users in not_fans: %}
                        <option value="{{users.id}}">{{users.first_name}} {{ users.last_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type="submit" value="Add User" class="btn btn-primary">
        </form>
    </div>

    <a class="btn btn-primary" href="/"><i class="fa fa-flag-checkered" aria-hidden="true"></i> Inicio</a>
</div>

{% endblock %}